li { list-style-type: square }
#cena { color: red; font-weight: bold }
/* selektor z identyfikatorem */
.wstęp { font-style: italic }
td img { border-color: blue; border-style: solid }
/* znaczniki zagnieżdżone */
td img:hover { border-color: red; border-style: solid } /* selektor z pseudo-atrybutem */
h1 + h2 { letter-spacing: 5px }
td[colspan="2"] > p { font-size: small }
p + p { color: gray }
h1 { color: blue }
h1 { color: green }
body { background-image: url(books.png); background-repeat: repeat-y }
